@model BLOG

@{
    ViewBag.Title = "Hesap Makinesi";
}

<h2 style="text-align:center">Gelişmiş Hesap Makinesi</h2>

<p style="margin-left: 20px;">
    Bu proje, temel matematiksel işlemleri kolay ve hızlı bir şekilde gerçekleştiren bir Android hesap makinesi uygulamasıdır. 
    Kullanıcıların günlük hesaplamalarını yapmalarına yardımcı olmak için tasarlanmıştır.
    Bu uygulama, Android Studio kullanılarak Java programlama dilinde geliştirilmiştir.
    Modern tasarım ilkelerine uygun olarak geliştirilmiş ve kullanıcıların ihtiyaçlarına göre optimize edilmiştir.
</p>

<div class="alert role="alert">
    Hesap Makinesi uygulamasının <a href="https://github.com/alperckrva/HesapMakinesi" target="_blank" class="alert-link">GitHub Link'i</a> için tıklayınız.
</div>

<div class="alert role="alert">
    Hesap Makinesi uygulamasının <a href="/blog/hesapkod" target="_blank" class="alert-link">Java kodu</a> için tıklayınız.
</div>

<div id="item-img" style="width: 100%; text-align: center; margin-top: 100px; border: none; outline: none;">
    <div class="item" style="width: 800px; height: 600px; margin: 0 auto; overflow: hidden; border: none; outline: none;">
        <p style="text-align:center;">Uygulamanın Arayüzü:</p>
        <img src="/img/@Model.HesapMakinesi" alt="" style="width: 300px; height: auto;">
    </div>

</div>

