@model BLOG

@{
    ViewBag.Title = "Hakkımda";
}

<a href="/home/homepage" style="text-decoration: none; border: none; outline: none;">
    <div id="item-img" style="width: 100%; text-align: center; margin-top: 20px; border: none; outline: none;">
        <div class="item" style="width: 800px; height: 300px; margin: 0 auto; overflow: hidden; border: none; outline: none;">
            <img src="/img/@Model.AlperenIMAGE" alt="" style="width: 800px; height: 300px; object-fit: cover; border: none; outline: none;" />
        </div>
    </div>
</a>


<div id="item-img" style="width: 100%; text-align: center; margin-top: 40px; border: none; outline: none;"> <!-- border ve outline dışarıdaki çizgileri yok etmemizi sağlıyor -->
    <div class="item" style="width: 100%; height: 30px; margin: 0 auto; border: none; outline: none;">
        <div style="width: 100%; height: 80px; margin: 0 auto; background-color: #e5e5e5;">
            <h2 style="text-align:center; font-size: 60px;">Hakkımda</h2>
        </div>
        </a>
    </div>
</div>



<div id="item-img" style="width: 100%; text-align: center; margin-top: 100px; border: none; outline: none;">
    <div class="item" style="width: 800px; height: 600px; margin: 0 auto; overflow: hidden; border: none; outline: none;">
            <img src="/img/@Model.AlperIMAGE" style="width: 800px; height: 600px; object-fit: cover; border: none; outline: none;" "  />
    </div>
    <div style="max-width: 300px; margin-left: 20px;">
        <h2>Bana Ulaşın</h2>
        <a href="mailto:alpcukurova@gmail.com">E-Mail</a>
        <a href="tel:537-050-73-62" style="display: block;">Telefon Numaram</a>
    </div>
</div>


<div id="item-img" style="width: 100%; text-align: center; margin-top: 20px; border: none; outline: none;">
    <div class="item" style="width: 100%; height: 30px; text-align:center; margin: 0 auto; border: none; outline: none;">
        <div style="width: 800px; margin: 0 auto; text-align: left;">
            <p style="font-size: 18px; line-height: 1.6;">Selam! Ben Alperen Çukurova. Konya'nın Meram ilçesinde doğdum ve büyüdüm. 20 Şubat 2003 doğumluyum ve şu anda 21 yaşındayım.</p>
            <p style="font-size: 18px; line-height: 1.6;">Konya Teknik Üniversitesi'nde Bilgisayar Mühendisliği 3. sınıf öğrencisiyim. LC Waikiki şirketinde DevOps Operasyon Müdürlüğü'nde stajyer öğrenciyim.</p>
            <p style="font-size: 18px; line-height: 1.6;">Yukarıdaki bilgiler, benim hakkımda fikir sahibi olmanızı sağlamayacak.</p>
            <p style="font-size: 18px; line-height: 1.6;">Biraz kendimden bahsetmem gerekirse; bilgisayarla iç içe olmayı, ilerideki işim gereği kod yazmayı, paralel evrenler ve evrim teorisi hakkında araştırma yapmayı seviyorum.
                Basketbol, futbol ve masa tenisi ise ilgilendiğim ve sevdiğim sporlardır.</p>
            <p style="font-size: 18px; line-height: 1.6;">Bu blog sayfasında size kendimden ve neler yapmayı sevdiğimden bahsetmek istiyorum. Ayrıca, en önemli sebebi staj projem olduğu için de bu sayfayı oluşturdum.</p>
            <p style="font-size: 18px; line-height: 1.6;">Şimdilik benden bu kadar. Okuduğunuz için teşekkür ederim.</p>
            <p style="font-size: 18px; line-height: 1.6;">Hoşça kalın!</p>
        </div>
    </div>
</div>
